*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header div .encabezado {
    background-color: rgb(240, 183, 183);
    color: white;
    font-size: small;
    padding: 5px;
    text-transform: lowercase;
    text-align: center;
    list-style: none;
} 
header div ul{
    background-image: url(../img/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    list-style: none;
    font-size: smaller; 
    font-style: italic; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .registro{
        padding: 5px;  
        color: white;   
        background-color:rgb(240, 183, 183);
        border-radius: 1rem;
        border-style: outset;
        box-shadow: 3px rgb(192, 189, 189);
    }   
}
.cabecera div{
    padding: 1px 50px 1px 50px;    
}
.cuerpo{
    background-image: url(../img/Fondo.jpg);
    background-size: contain;
    nav div h2{
        font-size: x-large large;
        font-weight: 700;
        display: flex;
        justify-content: center;
        font-family:Arial, Helvetica, sans-serif;
    }
    nav .navegacion{
        display: flex;
        justify-content: center;  
        ul li{
            color: white;
            margin: 10px 20px 0px 20px;
            padding: 8px;
            border-radius: 1rem;
            border-style:outset;
            background-color: rgb(240, 183, 183) ;
            list-style: none;
            display: inline-flex;
            box-shadow: 3px rgb(192, 189, 189);
        }  
        ul li:hover{
            transform: scale(1.1);      
        }  
    }
    .sale div h2{
        color: white;
        font-size: xx-large;
        font-weight: 600;
        background-color:  rgb(240, 183, 183);
        margin: 30px;
        padding: 10px;
    }
    nav .imagenes{
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto auto auto auto auto;
        justify-content: space-evenly;
        .imagen{
            padding: 10px;
        }
        div{
            margin-top: 25px;
            div{
                text-align: center;
                font-family:cursive;
                font-weight: 600;
                font-size: medium;
        } 
            .title{
                font-size: x-small;
            }
            .descuento{
                color: grey;
                font-size: smaller;
            }
            .precio{
                font-weight: 800;
            }
        }
    }
    .botonProductos{
        background-color: rgb(240, 183, 183) ;
        margin: 15px 300px 15px 300px;
        padding: 5px;
        font-weight: 600;
        color: white;
        text-align: center;
        box-shadow: 3px rgb(192, 189, 189);
        border-style: outset;
        border-radius: 1rem;
    }
    .botonProductos:hover{
        transform: scale(1.1);
    }
    div .subtitle{
        margin: 50px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        font-family:Arial, Helvetica, sans-serif;
    }
    div .sociales{
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 50px;
    }
}
.datos{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.ofertas{
    display: flex;
    justify-content: center;
    form {
        text-align: center;
        fieldset {
        h3{
            margin: 30px;
            font-size: xx-large;
            display: flex;
            justify-content: center;
            font-family:Arial, Helvetica, sans-serif;
          }
        h4{
            font-size: smaller;
            text-align: center;
        }
        div input{
            width: 87%;
            font-size: small;
            margin: 20px;
            text-align: center;
        }
     }
    }
 }
 footer h4{
    margin-top: 100px;
    font-size: medium;
    display: flex;
    justify-content:center;
 }



 main form .formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    padding: 50px;
    .titulo{
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    div{
        margin: 7px;
        input{
            padding: 0px 25px 0px 25px;
            font-size: smaller;
        }
    }
 }


 main nav div{
    text-align: center;
    font-weight: normal;
    ol{
        li{
            display: flex;
            margin: 15px;
        } 
    } 
    ul{
        li{
            display: flex;
            justify-content: center;
            list-style: none;
            margin: 15px;
        } 
    }
 }
   
            
        
